#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Do not configure the X Window System
skipx
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8

# Installation logging level
logging --level=debug

# Network information
#network  --bootproto=dhcp --device=ens192 --ipv6=auto --activate
#network  --bootproto=dhcp --device=ens224 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$TwvaZckQEGarktqQ$D/XlzaAY2JBAECyV6Adh0cGn1G9O9ZQRr9rOXOq8tGpE5.CxYxyLmtAbaTd1h8tBjf.S9sie8IyAwdifFgU8C0
# System services
selinux --disabled
firewall --disabled
services --enabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm --nohome
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


reboot --eject                  # リブート前にDVDを排出する
